################################################################################
# ENVIRONMENT SETUP
#
# * commented out lines are the default
################################################################################

DOMAIN_NAME=homelab.local
ADMIN_USER="admin"

COMPOSE_PROFILES="all"
COMPOSE_PROJECT_NAME="homelab"

# Optional Secondary Domain
# SECONDARY_DOMAIN_NAME="example.dev"

TZ="Asia/Singapore"
PUID="1000"
PGID="1000"

PLEX_CLAIM=""
PLEX_PUBLIC_PORT=32400

# UNIVERSAL_RESTART_POLICY="unless-stopped"

# Uncomment to test with Let's Encrypt (HTTPS) Staging Environment
# LETS_ENCRYPT_ENV="https://acme-staging-v02.api.letsencrypt.org/directory"

##################################################################
# DIRECTORY SETUP
#
# * You must customize these paths to match your own setup
# * For my personal setup, I have a NAS mounted at /media/storage
##################################################################

DOWNLOADS_DIR="~/Downloads"
MEDIA_DIR="~/Media"
# PLEX_TRANSCODE_DIR="/tmp"

##################################################################
# NETWORKING VARIABLES
#
# * You must customize these variables to match your own setup
# * These are the default values for my local network
##################################################################

PHYSICAL_SERVER_IP="192.168.18.102" # ip route get 1 | awk '{print $7}')
PHYSICAL_SERVER_NETWORK="192.168.18.0/24"
PUBLIC_DOMAIN=test.duckdns.org
NORDVPN_USER=""
NORDVPN_PASS=""
TAILSCALE_TOKEN=""

